= form_for @question, :remote => true do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this answer from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_area :content, :rows => 2
  .field
    = f.hidden_field :project_list, :value => @current_project
  .actions
    %button.btn.btn-primary.pull-right{ :type=>"submit"} 提问
