= form_for @question, :remote => true do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this answer from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg
  .row-fluid
    = f.hidden_field :project_list, :value => @current_project
    .span9= f.text_field :content
    .span2
      %button.btn.btn-primary{ :type=>"submit"} 提问
