.row-fluid
  %h3.span12 问题:
.row-fluid
  .span1
    - question_user = @question.user
    = link_to image_tag(question_user.avatar_url(:small), :class => "avatar", :title => "#{question_user.nickname}"), user_path(question_user), :method => :get

  .span10
    = @question.content
  .span1.pull-right= link_to '编辑', edit_question_path(@question)
%hr
.answerlist
  - @answers.each do |answer|
    = render :partial => 'answers/item', :locals => { :answer => answer }
  
.row-fluid
  %h3.span12 回答
  = render 'answers/form'
