				<% @notes.each do |note| %>
					<li>
						<div class="left"><%= note.user_id %></div>
            <div class="item">
            	<% if note.kind == 2 %>
              	<%= link_to "#{note.link}", note.link %><br/>
                <%= note.content %>
              <% elsif note.kind ==4 %>
								<%= render :inline => CodeRay.highlight(note.content, note.link, options = {:css => :class}) %>
							<% else %>
                <%= note.content %><br/>
			    		  <%= image_tag("#{note.image_url}") %><br/>
			    		  <%= note.link %><br/>
              	<%= note.content %><br/>
              <% end %>
              <%= note.description %>
							<%= link_to "评论(#{note.comments.count})", comments_path(:note_id => note.id) %>
							<br/>
							<div class="right">
			    			<%= note.kind %> |
			    			<%= link_to 'Show', note %> |
				    		<%= link_to 'Edit', edit_note_path(note) %> |
			    			<%= link_to 'Destroy', note, confirm: 'Are you sure?', method: :delete %>
			  			</div>
							<br/>
						</div>
					</li>
				<% end %>
