<% @notes.each do |note| %>
  <li id="note<%= note.id %>">
  <div class="block">
    <h2 class="title"></h2>
    <div class="inner">
      <div class="left"><%= image_tag(User.find(note.user_id).avatar, :class => "avatar") %></div>
      <div class="item">
        <div class="content">
        <% if note.kind == 1 %>
          <%= link_to "#{note.link}", note.link %><br/>
          <%= note.content %><br/>
        <% elsif note.kind == 2  %>
          <%= link_to "#{note.link}", note.link %><br/>
        <% elsif note.kind ==4 %>
          <%= render :inline => CodeRay.highlight(note.content, note.link, options = {:css => :class}) %>
        <% elsif note.kind == 3 %>
          <% if not note.image_url.nil? %>
            <%= image_tag("#{note.image_url}") %>
          <% else %>
            <a href="<%=note.link%>">
              <%= image_tag("#{note.link}") %>
            </a>
          <% end %><br/>
        <% elsif note.kind == 5 %>
          <%= link_to "#{note.content}","#{note.book_url}" %><br/>
        <% end %>
        <%= note.description %>
        </div>
        <br/>
        <div class="right">
          <% if current_user.id==note.user.id %>
            <%= link_to 'Show', note %> |
            <%= link_to 'Destroy', note, confirm: 'Are you sure?', method: :delete %> |
          <% end %>
          <%= link_to "评论(#{note.comments.count})", comments_path(:note_id => note.id), :remote => true, :class => "comments_link" %>
        </div>
        <br/>
        <div class="comments_list" style="display:none">
        </div>
      </div>
    </div>
  </div>
  </li>
<% end %>
