	<div class="secondary-navigation">
	</div>
	<div class="content">
		<h2 class="title">New Codes</h2>
		<div class="inner">
			<%= form_for(@note, :html => { :class => "form"}) do |f| %>
			  <% if @note.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>
			
			      <ul>
			      	<% @note.errors.full_messages.each do |msg| %>
			        	<li><%= msg %></li>
			      	<% end %>
			      </ul>
			    </div>
			  <% end %>
				<div class="columns wat-cf">
					<div class="column left">
			  		<div class="group">
			    		<%= f.label 'content:' %><br />
			    		<%= f.text_area :content, :class => "text_area", :rows => 6 %>
			  		</div>
			
			  		<div class="group">
			    		<%= f.label 'description:' %><br />
			    		<%= f.text_area :description, :class => "text_area", :rows => 3 %>
			  		</div>

					  <div class="group">
					    <%= f.hidden_field :kind %>
					  </div>
					</div>
					<div class="column right">
						<div class="group">
							<label class="label">Select Language</label><br/>
							<%= select "language", "id", @languages %>
						</div>
					  <div class="group">
					    <%= f.submit %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
<%= render :inline => CodeRay.highlight('use strict;
use Switch;

my $x = undef;

if (defined($x)) { print("X Does Not Fail\n\n"); }
else { print("X Fails\n\n");}

my $y = $x & 1;
if (defined($y)) { print("Y Does Not Fail\n\n"); }
else { print("Y Fails\n\n");}

my $failure |= ($x >> 2) & 1;
if (defined($failure)) { print("Does Not Fail\n\n"); }
else { print("Fails\n\n");}', :php, options = {:css => :class}) %>
