<h2 class="title">文字</h2>
<div class="inner">
  <%= form_for(@note, :html => { :class => "form"}) do |f| %>
    <% if @note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
          <% @note.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="group">
      <%= f.label '短文' %><br />
      <%= f.text_area :content, :rows => 6 %>
    </div>

    <p>或者提供文章的网络地址</p>
    <div class="group">
      <%= f.label '文章链接' %><br />
      <%= f.text_field :link %>
    </div>

    <div class="group">
      <%= f.label '描述' %><br />
      <%= f.text_area :description, :rows => 3 %>
    </div>

    <div class="group">
      <%= f.hidden_field :kind %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
