<%# encoding: utf-8 %>

<li id="note<%= note.id %>" class="row-fluid">
<div class="span1"><%= image_tag(User.find(note.user_id).avatar_url(:small), :class => "avatar") %></div>
<div class="span11 <%= 'label-info' if current_user.id == note.user_id and not note.message == 0 %>">

  <div class="content">
    <%= note.summary %> 
  </div>

  <% if note.kind > 0 %>
    <button class="btn-mini" data-toggle="collapse" data-target="#attach_collapse<%= note.id %>"> 
      <i class='icon-chevron-down'></i>
    </button>
    <br/>
    <div id="attach_collapse<%= note.id %>" class="collapse">
      <%= render :partial => "notes/attach_#{attachmentKind(note.kind)}", :locals => { :note => note} %>
    </div>
  <% end %>

  <div class="pull-right btn-group">
    <% if current_user.id==note.user.id %>
      <%= link_to '详细', note, :class => 'btn' %>
      <%= link_to '删除', note, confirm: 'Are you sure?', method: :delete, :remote => true, :class => 'btn' %>
    <% end %>
    <%= link_to "评论(#{note.comments.count})", comments_path(:note_id => note.id), :remote => true, :class => "btn comments_link" %>
      <% my_like = current_user.likes.find_by_note_id(note.id) %>
      <% if not my_like %>
        <%= link_to '我想读', likes_create_path(:note_id => note.id),:remote => true, :class => "tags btn" %> 
      <% elsif not my_like.status and controller.action_name == "mytags" %>
        <%= link_to '取消标记', likes_destroy_path(:id => my_like.id), :remote => true, :class => "tags btn" %>
        <%= link_to '读完？', likes_update_path(:id => my_like.id), :remote => true, :class => "tags btn" %>
      <% elsif not my_like.status and not controller.action_name == "mytags" %>
        <%= link_to '已标记', "",:class => "btn disabled", :remote => true %>
      <% else %>
        <%= link_to '已读完', "",:class => "disabled btn", :remote => true %>
      <% end %>
  </div>
  <div class="time" data="<%= note.created_at %>">
  </div>
  <br/>
  <div class="comments_list well" style="display:none">
  </div>
</div>
</li>
<hr>

