<%# encoding: utf-8 %>

  <div class="row">
  <div id="note_publish" class="well">
    <legend class="title">写一条笔记</legend>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><%= link_to "消息", "#message", "data-toggle" => "tab", "data-target" => "#message"%></li>
        <li><%= link_to "图片", "#image",   "data-toggle" => "tab", "data-target" => "#image"%></li>
        <li><%= link_to "链接", "#link",    "data-toggle" => "tab", "data-target" => "#link"%></li>
        <li><%= link_to "书籍", "#book",    "data-toggle" => "tab", "data-target" => "#book"%></li>
        <li><%= link_to "代码", "#code",    "data-toggle" => "tab", "data-target" => "#code"%></li>
        <li><%= link_to "文本", "#text",    "data-toggle" => "tab", "data-target" => "#text"%></li>
      </ul>

      <div id="attachment_block" class="tab-content row-fluid">
        <div class="tab-pane fade in active" id="message">
          <%= form_for(@note, :html => { :multipart => true, :remote => true }) do |f| %>
            <%= f.text_area :summary, :rows => 4, "placeholder" => "Write something", :class => "span12" %>
            <%= f.hidden_field :kind, :value => 0 %>
            <button type="submit" class="btn btn-large btn-primary pull-right">
              <i class="icon-upload"></i> 发布
            </button>    
          <% end %> 
        </div>

        <div class="tab-pane fade" id="image">
          <%= form_for(@note, :html => { :multipart => true, :remote => true }) do |f| %>
            <fieldset>
              <div class="control-group">
                <%#<label class="control-label"></label>%>
                <div class="controls">
                  <%= f.text_area :summary, :rows => 4, "placeholder" => "Write something", :class => "span12" %>
                  <%= f.hidden_field :kind, :value => 3 %>
                </div>
              </div>

              <button type="submit" class="btn btn-large btn-primary pull-right">
                <i class="icon-upload"></i> 发布
              </button>    

              <div class="control-group">
                <div class="controls">
                  上传图片：<%= f.file_field :upload, :class=>"input-file" %>
                </div>
              </div>
            </fieldset>
          <% end %> 
        </div>

        <div class="tab-pane fade" id="link">
          <%= form_for(@note, :html => { :multipart => true, :remote => true }) do |f| %>
            <%= f.text_area :summary, :rows => 4, "placeholder" => "Write something", :class => "span12" %>
            <%= f.hidden_field :kind, :value => 2 %>

            <button type="submit" class="btn btn-large btn-primary pull-right">
              <i class="icon-upload"></i> 发布
            </button>    

            <div class="control-group">
              <div class="controls">
                链接：<%= f.text_field :description, :class => "input-xxlarge" %>
              </div>
            </div>
          <% end %> 
        </div>

        <div class="tab-pane fade" id="book">
          <%= form_for(@note, :html => { :multipart => true, :remote => true }) do |f| %>
            <%= f.text_area :summary, :rows => 4, "placeholder" => "Write something", :class => "span12" %>
            <%= f.hidden_field :kind, :value => 5 %>

            <button type="submit" class="btn btn-large btn-primary pull-right">
              <i class="icon-upload"></i> 发布
            </button>    

            <div class="control-group">
              <div class="controls">
                上传书籍：<%= f.file_field :upload %>
              </div>
            </div>
          <% end %> 
        </div>

        <div class="tab-pane fade" id="code">
          <%= form_for(@note, :html => { :multipart => true, :remote => true }) do |f| %>
            <%= f.text_area :summary, :rows => 4, "placeholder" => "Write something", :class => "span12" %>
            <%= f.hidden_field :kind, :value => 4 %>

            <div class="control-group">
              <div class="controls">
                <%= f.text_area :description, :rows => 8, :class => "span12", :placeholder => "粘贴代码片段"%>
              </div>
              <div class="controls">
                选择语言
                <select id="language_id" name="language[id]">
                  <option value="C">C</option> 
                  <option value="Clojure">Clojure</option> 
                  <option value="CSS">CSS</option> 
                  <option value="Delphi">Delphi</option> 
                  <option value="DIFF">DIFF</option> 
                  <option value="ERB">ERB</option> 
                  <option value="Groovy">Groovy</option> 
                  <option value="HAML">HAML</option> 
                  <option value="HTML">HTML</option> 
                  <option value="Java">Java</option> 
                  <option value="JavaScript">JavaScript</option> 
                  <option value="JSON">JSON</option> 
                  <option value="PHP">PHP</option> 
                  <option value="Python">Python</option> 
                  <option value="Ruby">Ruby</option> 
                  <option value="SQL">SQL</option> 
                  <option value="XML">XML</option> 
                  <option value="YAML">YAML</option> 
                </select> 
                <button type="submit" class="btn btn-large btn-primary pull-right">
                  <i class="icon-upload"></i> 发布
                </button>    
              </div>
            </div>

          <% end %> 
        </div>

        <div class="tab-pane fade" id="text">
          <%= form_for(@note, :html => { :multipart => true, :remote => true }) do |f| %>
            <%= f.text_area :summary, :rows => 4, "placeholder" => "Write something", :class => "span12" %>
            <%= f.hidden_field :kind, :value => 1 %>

            <textarea id="note_code" name="note[description]" rows="6", class="span12"></textarea> 
            <script type="text/javascript"> 
              if (CKEDITOR.instances["note_code"]) { 
                CKEDITOR.remove(CKEDITOR.instances["note_code"]); 
              } 
              CKEDITOR.replace("note_code", { "language":"en", "customConfig":"/ckeditor_config.js" }); 
            </script> 

            <button type="submit" class="btn btn-large btn-primary pull-right">
              <i class="icon-upload"></i> 发布
            </button>    
          <% end %> 
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="flash"></div>
  <div id="notes_content" class="row">
    <div class="well">
      <ul class="list unstyled">
        <%= render "list" %>
      </ul>

      <!-- pager loading hinter -->
      <div class="inner" id="pager_loading">
      </div>
    </div>

  </div> <!-- notes_content -->

