<%# encoding: utf-8 %>

<div class="block">
  <div class="secondary-navigation">
	</div>
	<div class="content">
		<h2 class="title">Listing notes</h2>
		<div class="inner">
			<ul class="list">
				<% @notes.each do |note| %>
					<li>
						<div class="left"><%= note.user_id %></div>
			   		<div class="item"><%= note.content %>
			    		<%= note.image %>
			    		<%= note.link %>
							<br/>
							<div class="right">
			    			<%= note.kind %> |
			    			<%= link_to 'Show', note %> |
				    		<%= link_to 'Edit', edit_note_path(note) %> |
			    			<%= link_to 'Destroy', note, confirm: 'Are you sure?', method: :delete %>
			  			</div>
						</div>
					</li>
			<% end %>
			</ul>
			
			<br />
			
            <%= link_to 'New Blog', "#{current_user.nickname}/new/blog" %>
            <%= link_to 'New Image', "#{current_user.nickname}/new/image" %>
		</div>
  </div>
</div>
