-# encoding: utf-8
.well
  #note_publish
    .pull-right#input_hint

    .row-fluid
      %h4.span12 给工作添乐趣

    .row-fluid
      .span12
        = form_for(@note, :html => { :multipart => true, :remote => true }) do |f|
          =f.text_area :summary, :rows => 3, "placeholder" => "写点什么吧", :class => "span12" 
          =hidden_field_tag 'attachments', '', :id => "note_attachments" 
          =f.hidden_field :tag_list
          %a#pickfiles(href="#") 添加图片和文档
          %button.btn.btn-primary.pull-right(type="submit") 发布

      .row-fluid
        %label.span2 Tags:
        %span.span10#pending_tag_list 
        -ds = @tags.map{|t| '"' + t + '"'}.join(",")
        =text_field_tag "tag_input", "", "data-provide" => "typeahead",
          "data-source" => "[#{ds}]", "data-items" => "4", :class => "span4"

      .span12
        #image_uploader
          #filelist.thumbnails

  #flash_content
    %a.more.label(href="#" data-toggle="collapse" data-target="#notifications")
      更多通知
      %b.caret
    #notifications.flash.collapse

  #notes_content
    %ul.list.unstyled
      =render "notes/list"

    / pager loading hinter 
    .inner#pager_loading

-session_key_name = Rails.application.config.session_options[:key] 
:javascript
    var uploader = new plupload.Uploader({
      runtimes : 'html5,html4,gears,flash',
      browse_button : "pickfiles",
      container : "image_uploader",
      url : '/attachements',
      max_file_size : '50mb',
      //chunk_size : '1mb',
      unique_names : true,

      // Resize images on clientside if we can
      // resize : {width : 320, height : 240, quality : 90},

      multipart : true,
      multipart_params : {
          '_http_accept': 'application/javascript',
          'authenticity_token' : '#{form_authenticity_token}',
          '#{session_key_name}' : encodeURIComponent('#{u cookies[session_key_name]}')
      },

      // Specify what files to browse for
      filters : [
          {title : "Image files", extensions : "jpg,gif,png,jpeg"},
          {title : "Document files", extensions : "pdf,doc,txt"},
      ],

      // Flash settings
      flash_swf_url : '/plupload/js/plupload.flash.swf',
  });

    uploader.bind('Init', function(up, params) {
        // $('#filelist').html("<h2>Current runtime: " + params.runtime + "</h2>");
        });

    $('#uploadfiles').click(function(e) {
        uploader.start();
        e.preventDefault();
        });

    uploader.init();

    uploader.bind('FilesAdded', function(up, files) {
        $.each(files, function(i, file) {
          $('#filelist').append(
            '<li id="' + file.id + '" class="span4">' +
            file.name + ' (' + plupload.formatSize(file.size) + ') <b></b>' +
            '</li>');
          });

        up.refresh(); // Reposition Flash/Silverlight
        uploader.start();
        });

    uploader.bind('UploadProgress', function(up, file) {
        $('#' + file.id + " b").html(file.percent + "%");
        });

    uploader.bind('Error', function(up, err) {
        rednote.flashController && rednote.flashController.doFailure('添加失败', err.message);
        });

    uploader.bind('FileUploaded', function(up, file, resp) {
        var data, hidden_attach;
        var $file = $('#' + file.id);
        console.log(resp);
        if (resp.response.trim().length === 0)
            return;

        data = eval("(" + resp.response + ")");
        $file.html( '<div class="thumbnail"><img src="' + data.url + '"/></div>' + 
          '<div class="caption">' + file.name + '</div>' );

        hidden_attach = $('#new_note > #note_attachments').attr('value').trim();
        console.log(hidden_attach);
        if (hidden_attach.length) 
            hidden_attach += ",";
        hidden_attach += data.attachment_id;
        $('#new_note > #note_attachments').attr('value', hidden_attach);
        });


