<%# encoding: utf-8 %>

<div class="block">
  <div class="secondary-navigation">
	</div>
	<div class="content">
		<h2 class="title">Listing notes</h2>
		<div class="inner">
			<table>
			  <tr>
			    <th>User</th>
			    <th>Content</th>
			    <th>Image</th>
			    <th>Link</th>
			    <th>Kind</th>
			    <th></th>
			    <th></th>
			    <th></th>
			  </tr>
			
			<% @notes.each do |note| %>
			  <tr>
			    <td><%= note.user_id %></td>
			    <td><%= note.content %></td>
			    <td><%= note.image %></td>
			    <td><%= note.link %></td>
			    <td><%= note.kind %></td>
			    <td><%= link_to 'Show', note %></td>
			    <td><%= link_to 'Edit', edit_note_path(note) %></td>
			    <td><%= link_to 'Destroy', note, confirm: 'Are you sure?', method: :delete %></td>
			  </tr>
			<% end %>
			</table>
			
			<br />
			
            <% if not current_user.nil? %>
              <%= link_to 'New Blog', "#{current_user.nickname}/new/blog" %>
            <% end %>
		</div>
  </div>
</div>
