<%# encoding: utf-8 %>

<div class="block">
  <div class="secondary-navigation">
	</div>
	<div class="content">
		<h2 class="title">Listing notes</h2>
		<div class="inner">
			<ul class="list">
				<% @notes.each do |note| %>
					<li>
						<div class="left"><%= note.user_id %></div>
            <div class="item">
            	<% if note.kind == 2 %>
              	<%= link_to "#{note.link}", note.link %><br/>
                <%= note.content %>
              <% else %>
                <%= note.content %><br/>
			    		  <%= image_tag("#{note.image_url}") %><br/>
			    		  <%= note.link %><br/>
              <% end %>
              <%= note.content %>
							<br/>
							<div class="right">
			    			<%= note.kind %> |
			    			<%= link_to 'Show', note %> |
				    		<%= link_to 'Edit', edit_note_path(note) %> |
			    			<%= link_to 'Destroy', note, confirm: 'Are you sure?', method: :delete %>
			  			</div>
						</br>
						</div>
					</li>
			<% end %>
			</ul>
			
			<br />
			
            <%= link_to 'New Blog', "#{current_user.nickname}/new/blog" %>
            <%= link_to 'New Image', "#{current_user.nickname}/new/image" %>
            <%= link_to 'New Book', "#{current_user.nickname}/new/book" %>
            <%= link_to 'New Code', "#{current_user.nickname}/new/code" %>
            <%= link_to 'New Link', "#{current_user.nickname}/new/link" %>
		</div>
  </div>
</div>
