<%# encoding: utf-8 %>
<div class='block' id='block-signup'>
    <div class='content'>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form"}) do |f| %>
            <%= devise_error_messages! %>

            <div id="nickname_input" class="control-group">
                <%= f.label "帐号：" %>
                <%= f.text_field :nickname %>
                <span id="nickname_waring" class="help-inline">Ex. muhaha</span>
            </div>

            <div id="email_input" class="control-group">
                <%= f.label "邮箱：" %>
                <%= f.email_field :email %>
                <span id="email_waring" class="help-inline">Ex. test@example.com</span>
            </div>

            <div class="group wat-cf">
                <%= f.label "密码：" %>
                <%= f.password_field :password %>
                <span class='description'>至少6个字符</span>
            </div>

            <div class="group wat-cf">
                <%= f.label '确认密码'%>
                <%= f.password_field :password_confirmation %>
            </div>
            <button class='btn' type='submit'>注册</button>
        <% end %>
        <%= render :partial => "devise/shared/links" %>
    </div>
</div>
