-# encoding: utf-8

%li.row-fluid(id="comment#{comment.id}")
  - user = User.find(comment.user_id)
  .span1
    = link_to image_tag(user.avatar_url(:small), :height => "30", :width => "30"), 
    user_path(user), :title => "#{comment.user_id}" 
  .span11
    = RDiscount.new(comment.comment).to_html.html_safe
    .live-timestamp.pull-right(data-notetime="#{comment.created_at}")
    - if(comment.user_id == current_user.id and comment.commentable_type == "Note")
      = link_to "#removecomment#{comment.id}",'data-toggle' => "modal", :class => 'toremove small-link' do
        %i.icon-remove 
      .commentremove.modal.hide.fade{:id => "removecomment#{comment.id}", :commentid => "#{comment.id}", :style => "display: none;"}
        .modal-header
          %a.close(data-dismiss="modal") ×
          %h3 删除评论
        .modal-body
          %h3 确定删除吗？
        .modal-footer
          = link_to '删除', comment, :method => "delete",  "data-dismiss" => "modal", :class => "btn", :remote => true
          %a.btn{:href => "close", "data-dismiss" => "modal"} 取消
    - elsif(comment.user_id == current_user.id and comment.commentable_type == "Task")
      = link_to comment, :method => :delete, :remote => true do
        %i.icon-remove 
  %br
  %hr
