= form_for(@comment, :url => comments_path, :method => "post", :remote => true, :class => "form-horizontal") do |f| 
  - if @comment.errors.any?
    #error_explanation
      %h2
        =pluralize(@comment.errors.count, "error") 
        prohibited this comment from being saved:

      %ul
      - @comment.errors.full_messages.each do |msg|
        %li= msg
  = f.text_area :comment, :rows => "3"
  = f.hidden_field :commentable_id, :value => @task.id if not @task.nil?
  = f.hidden_field :commentable_id, :value => @event.id if not @event.nil?
  = f.hidden_field :commentable_id, :value => @document.id if not @document.nil?
  = f.hidden_field :commentable_type, :value => "Task" if not @task.nil?
  = f.hidden_field :commentable_type, :value => "Event" if not @event.nil?
  = f.hidden_field :commentable_type, :value => "Document" if not @decument.nil?
  = f.submit "评论", :class => "btn-info pull-right"
