- # encoding: utf-8

- @task.audits.each do |audit|
  = audit.created_at
  %code= User.find(audit.user_id).nickname if audit.user_id
  = "#{audit.action}"
  - if audit.action == 'create'
    at
    %code= audit.created_at
  - else  
    - audit.audited_changes.each do |key, value|
      %code= key
      from
      %code= value[0]
      to
      %code= value[1]
    %br
