- # encoding: utf-8

.page-header
  %h2
    讨论
    %small 项目相关问题的讨论
%table.table
  - @tasks.each do |task|
    - comment = task.comments.last
    - if not comment.nil?
      %tr
        %td
          - user = User.find(comment.user_id)
          = link_to image_tag(user.avatar_url(:small), :height => "30", :width => "30"),
            user_path(user), :title => "#{comment.user_id}" 
        %td
          = user.nickname
        %td
          = link_to task, :class => "truncate" do
            %strong= task.content.html_safe
            %span= comment.comment.html_safe
        %td
          .oneline.small.live-timestamp(data-notetime="#{comment.created_at}")
        %td
          .small= task.comments.count



