
<div class="clearfix">
   <%= f.label :user_id, t("activerecord.attributes.task.user_id", :default => "User"), :class => :label %>
  <div class="input">
    <%= f.number_field :user_id, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :parent_id, t("activerecord.attributes.task.parent_id", :default => "Parent"), :class => :label %>
  <div class="input">
    <%= f.number_field :parent_id, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :content, t("activerecord.attributes.task.content", :default => "Content"), :class => :label %>
  <div class="input">
    <%= f.text_field :content, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :estimate, t("activerecord.attributes.task.estimate", :default => "Estimate"), :class => :label %>
  <div class="input">
    <%= f.number_field :estimate, :class => 'number_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :deadline, t("activerecord.attributes.task.deadline", :default => "Deadline"), :class => :label %>
  <div class="input">
    <%= f.datetime_select :deadline, :class => 'datetime_select' %>
  </div>
</div>
<div class="form-actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", tasks_path %>
</div>
