<%# encoding: utf-8 %>

<div class="form-actions">
  <div class="row-fluid">
    <h3 class="span3">项目</h3>
    <div class="btn-group span6" data-toggle="buttons-radio">
      <% css_class = ( @current_project.index(',') ? 'btn active' : 'btn' ) %>
      <%= link_to "全部", tasks_path(:project => @all_projects), :class => css_class %>
      <% 0.upto(@projects.count - 1) do |i| %>
      <%= link_to "#{@projects[i].name}(#{@projects[i].count})", tasks_path(:project => @projects[i].name), :class => @project_class[i] %>
      <% end %>
    </div>

    <div class="span3">
      <%= form_tag new_project_tasks_path, :class => :form do %>
      <%= text_field :project, :name, :class => 'input-small', :placeholder => "项目名称" %>
      <button class="btn" type="submit">新建</button>
      <% end %>
    </div>
  </div>
</div>

<h3>任务</h3>

<% coming_tasks, recent_tasks, past_tasks = three_type_tasks(@tasks) %>

<% coming_tasks.each do |task| %>
  <%= render :partial => 'item', :locals => { :task => task } %>
<% end %>

<div class="recent">
  <% recent_tasks.each do |task| %>
    <%= render :partial => 'item', :locals => { :task => task } %>
  <% end %>
</div>

<% past_tasks.each do |task| %>
  <%= render :partial => 'item', :locals => { :task => task } %>
<% end %>

<%= render 'form' %>
