<%# encoding: utf-8 %>

<div class="form-actions">
  <div class="row-fluid">
    <h3 class="span3">项目</h3>
    <div class="btn-group span6" data-toggle="buttons-radio">
      <% css_class = ( @current_project.index(',') ? 'btn active' : 'btn' ) %>
      <%= link_to "全部", tasks_path(:project => @all_projects), :class => css_class %>
      <% 0.upto(@projects.count - 1) do |i| %>
      <%= link_to "#{@projects[i].name}(#{@projects[i].count})", tasks_path(:project => @projects[i].name), :class => @project_class[i] %>
      <% end %>
    </div>

    <div class="span3">
      <%= form_tag new_project_tasks_path, :class => :form do %>
      <%= text_field :project, :name, :class => 'input-small', :placeholder => "项目名称" %>
      <button class="btn" type="submit">新建</button>
      <% end %>
    </div>
  </div>
</div>


<% coming_tasks, recent_tasks, past_tasks = three_type_tasks(@tasks) %>

<h3>待办任务</h3>
<ul>
<% coming_tasks.each do |task| %>
  <li class="<%= task_css(task, "stretch-small-container") %>">
  <div id="stretch-full">
    <%= link_to set_status_tasks_path(:id => task.id), :id => "task#{task.id}", :class => "label" do %>
      <%= task_sign(task).html_safe %>
    <% end %>
    
    <%= task.content %>
    <%= link_to task, :class => "label" do %>
      <i class="icon-chevron-right"></i>
    <% end %>
  </div>
  </li>
<% end %>
</ul>

<h3>本周任务</h3>
<ul>
  <% recent_tasks.each do |task| %>
    <%= render :partial => 'item', :locals => { :task => task } %>
  <% end %>
</ul>

<h3>已完成任务</h3>
<ul>
<% past_tasks.each do |task| %>
  <li class="<%= task_css(task, "stretch-small-container") %>">
  <div id="stretch-full">
    <%= link_to set_status_tasks_path(:id => task.id), :id => "task#{task.id}", :class => "label" do %>
      <%= task_sign(task).html_safe %>
    <% end %>
    
    <%= task.content %>
    <%= link_to task, :class => "label" do %>
      <i class="icon-chevron-right"></i>
    <% end %>
  </div>
  </li>
<% end %>
</ul>

<%= render 'form' %>

