<%# encoding: utf-8 %>

<div class="row-fluid xingblock-middle">
  <div class="span1">
    <%= link_to task, 'data-loading-text' => 'Loading', :id => "task#{task.id}", :class => "" do %>
    <i class="icon-ok"></i>
    <% end %>
  </div>
  <div class="span10">
    <%= task.user_id %>
    <%= task.content %>
    <%= task.estimate %>
    <%= time_ago_in_words(task.deadline) if task.deadline %>
  </div>
  <div class="span1">
    <%= link_to task, :class => "" do %>
      详细<i class="icon-chevron-right"></i>
    <% end %>
  </div>
</div>
