<%# encoding: utf-8 %>

<div class="row-fluid grid-bar">
  <div class="span1">icon</div>
  <div class="span9">
    <%= task.user_id %>
    <%= task.parent_id %>
    <%= task.content %>
    <%= task.estimate %>
    <%= time_ago_in_words(task.deadline) if task.deadline %>
  </div>
  <div class="span2">
    <%= link_to 'Done', task, :class => "small-button" %>
    <%= link_to 'Show', task %>
  </div>
</div>
