<%# encoding: utf-8 %>

<li id="task<%= task.id %>">
  <%= task.user_id %>
  <%= task.parent_id %>
  <%= task.content %>
  <%= task.estimate %>
  <%= time_ago_in_words(task.deadline) %>
  <%= link_to 'Show', task %>
  <%= link_to 'Edit', edit_task_path(task) %>
  <%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %>
</li>
