<%# encoding: utf-8 %>

  <li class="<%= task_css(task, "stretch-long-container") %>">
    <div id="stretch-full">
      <%= link_to set_status_tasks_path(:id => task.id), :id => "task#{task.id}", :class => "label" do %>
      <%= task_sign(task).html_safe %>
      <% end %>
    
      <%= task.user_id %>
      <%= task.content %>
      <%= task.estimate %>
      <%= time_ago_in_words(task.deadline) if task.deadline %>
      <%= link_to task, :class => "label" do %>
      <i class="icon-chevron-right"></i>
      <% end %>
aa<br />
bb
    </div>
  </li>
