- # encoding: utf-8 

%div{ :id => "task#{task.id}", :class => "red-note taskitem #{task_css(task)}"}
  %span.task-action
    - if task.assigned_to == nil
      %span.small-link= best_in_place task, :assigned_to, :type => :select, :collection => User::list_user_options, :nil => '指派'
    - else
      %span.small-link= best_in_place task, :assigned_to, :type => :select, :collection => User::list_user_options
      = link_to "完成", set_status_tasks_path(:id => task), :remote => true
    %span.small-link= link_to "查看", task

  = best_in_place task, :content, type: :textarea, :ok_button => '保存', :activator => "#editcontent#{task.id}"
  %span(id="editcontent#{task.id}")= link_to "修改", "javascript:void(0)", :class => "small-link" if task.status == Task::TODO
  %br

  %strong.task-estimate= best_in_place task, :estimate, :type => :select, :activator => "#editestimate#{task.id}", |
    :nil => '0天', :collection => [[0, '0天'], [0.5,'0.5天'], [1,'1天'], [1.5,'1.5天'], [2,'2天'], [3,'3天'], [4,'4天'], [5,'5天']]
  %span(id="editestimate#{task.id}")= link_to "修改", "javascript:void(0)", :class => "small-link" if task.status == Task::TODO
  %br

  .taskeditview.modal.hide.fade{:id => "edittask#{task.id}", :taskid => "#{task.id}", :style => "display: none;"}
    .modal-header
      %a.close(data-dismiss="modal") ×
      %h3 任务
    .modal-body
      .content
        %h3 Please waiting
      .comments
        = link_to "评论", index_task_comments_path(:task_id => task.id), :remote => true, :class => "small-link", |
          :id => "comments_link#{task.id}","data-toggle" => "collapse", "data-target" => "#comments_list#{task.id}"
        .collapse.fade(style="height: 0px;" id="comments_list#{task.id}")
    .modal-footer
      %a.btn{:href => "close", "data-dismiss" => "modal"} 关闭


