<%# encoding: utf-8 %>

<div id="task<%= task.id %>" class="stretch-note-container taskitem ui-widget-content <%= task_css(task) %>">
<div id="stretch-full">
  <%= task.content %><br />
  估计时间：<%= task.estimate %>

  <div id="edittask<%= task.id %>" class="modal hide fade" style="display: none; ">
    <h3>Modal Heading</h3>
  </div>

  <%= link_to task, :class => "bottom-right", 'data-toggle'=>"modal" do %>
    <i class="icon-edit"></i>
  <% end %>
</div>
</div>
