<%# encoding: utf-8 %>

<div id="task<%= task.id %>" class="stretch-note-container taskitem ui-widget-content <%= task_css(task) %>">
<div id="stretch-full">
  <%= task.content %><br />
  估计时间：<%= task.estimate %>

  <%= link_to task, :class => "bottom-right" do %>
    <i class="icon-edit"></i>
  <% end %>
</div>
</div>
