<%# encoding: utf-8 %>

<li class="<%= task_css(task, "stretch-note-container") %>">
<div id="stretch-full">
  <%= task.content %>
  <%= task.user.nickname %>
  <%= time_ago_in_words(task.deadline) if task.deadline %>

  <%= link_to task, :class => "bottom-right" do %>
    <i class="icon-chevron-right"></i>
  <% end %>
</div>
</li>
