- # encoding: utf-8 

%div{ :id => "task#{task.id}", :class => "red-note taskitem #{task_css(task)}"}
  %span.task-action
    - if show == :edit
      - if task.assigned_to == nil
        = link_to "认领", assign_tasks_path(:taskid =>"task#{task.id}", :userid => "user#{current_user.id}"), :confirm => "确定认领这个任务?", :remote => true
      - else
        = task.user.nickname
      = link_to "编辑", "#edittask#{task.id}", 'data-toggle'=>"modal"
    - else    
      = link_to "完成", set_status_tasks_path(:id => task), :class => "btn", :remote => true

  .task-content= task.content
  %h4.task-estimate= task.estimate

  .taskeditview.modal.hide.fade{:id => "edittask#{task.id}", :taskid => "#{task.id}", :style => "display: none;"}
    .modal-header
      %a.close(data-dismiss="modal") ×
      %h3 任务
    .modal-body
      .content
        %h3 Please waiting
      .comments
        = link_to "评论", index_task_comments_path(:task_id => task.id), :remote => true, :class => "small-link", :id => "comments_link#{task.id}","data-toggle" => "collapse", "data-target" => "#comments_list#{task.id}"
        .collapse.fade(style="height: 0px;" id="comments_list#{task.id}")
    .modal-footer
      %a.btn{:href => "close", "data-dismiss" => "modal"} 关闭


