<%# encoding: utf-8 %>

<div id="task<%= task.id %>" class="red-note taskitem ui-widget-content <%= task_css(task) %>">
  <p><strong>内容：</strong><%= task.content %></p>
  <p class="estimate-time"><strong>估计时间：</strong><%= task.estimate %>天</p>

  <div id="edittask<%= task.id %>" taskid="<%= task.id %>" class="taskeditview modal hide fade" style="display: none; ">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>任务</h3>
    </div>
    <div class="modal-body">
      <h3>Please waiting</h3>
    </div>
    <div class="modal-footer">
      <a href="close" class="btn" data-dismiss="modal">关闭</a>
    </div>
  </div>

  <%= link_to "#edittask#{task.id}", :class => "bottom-right", 'data-toggle'=>"modal" do %>
    <i class="icon-edit"></i>
  <% end %>
</div>
