<%# encoding: utf-8 %>

<div class='well'>
  <section id="fluidGridSystem">
<div class="row-fluid grid-bar">
  <div class="span2">
    <%= link_to tasks_path, :class => 'btn' do %>
      <i class="icon-chevron-left"></i>返回
    <% end %>
  </div>
  <div class="span8">
    <%= @task.content %>
  </div>
  <div class="span2">
    <%= link_to "删除", task_path(@task), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">项目：</div>
  <div class="span4"><%= @task.project_list[0] %></div>
  <br />
  <div class="span2">创建人：</div>
  <div class="span4"><%= @task.user.nickname %></div>
  <br />
  <div class="span2">负责人：</div>
  <div class="span4 inplace"><%= best_in_place @task, :assigned_to, type: :select, :collection => User::list_user_options %></div>
  <br />
  <div class="span2">内容：</div>
  <div class="span4 inplace"><%= best_in_place @task, :content, type: :textarea %></div>
  <br />
  <div class="span2">估算时间：</div>
  <div class="span4 inplace"><%= best_in_place @task, :estimate, type: :select, :collection => [[0.5,'0.5'], [1, '1'], [2, '5']] %>天</div>
  <br />
  <div class="span2">截止时间：</div>
  <div class="span4 inplace"><%= best_in_place @task, :deadline, type: :date %></div>
</div>

<div class="form-actions">
  <%= form_tag set_tag_tasks_path, :class => :form do %>
    <%= hidden_field :task, :id, :value => @task.id %>
    所属项目：
    <%= collection_select :project, :name,  @projects, :name, :name %>
    <button class="btn" type="submit">修改</button>
  <% end %>
</div>
</section>
</div>