- # encoding: utf-8
- taskname = @task.project_list[0]
.task-view.row-fluid
  .row
    - if current_user == @task.user
      .pull-right= link_to "删除", @task, :confirm => "确定删除此任务吗?", :method => :delete, :class => "btn"
    .span1= link_to taskname, project_path(taskname), :class => "btn"
  .row
    %h3.span1 项目：
    .span7= taskname
  .row
    %h3.span1 创建：
    .span7= @task.user.nickname
  .row
    %h3.span1 内容：
    .span7
      = @task.content
  .row
    %h3.span1 估时：
    .span7
      = @task.estimate
  .row

.page-header
  %h3
    评论
    %small 相关讨论
.taskcomments{:id => "comments_list#{@task.id}"}
  = render 'comments/comment_box'
  = render 'comments/form_task'
