<%# encoding: utf-8 %>

<div class="row-fluid grid-bar">
  <div class="span2">
    <%= link_to tasks_path, :class => 'btn' do %>
      <i class="icon-chevron-left"></i>返回
    <% end %>
  </div>
  <div class="span8">
    <%= @task.content %>
  </div>
  <div class="span2">
    <%= link_to '完成', @task, :class => "btn" %>
  </div>
</div>

<div class="row-fluid">
  <div class="span2">负责人：</div>
  <div class="span4"><%= @task.user.nickname %></div>
  <br />
  <div class="span2">内容：</div>
  <div class="span4"><%= @task.content %></div>
  <br />
  <div class="span2">估算时间：</div>
  <div class="span4"><%= @task.estimate %></div>
  <br />
  <div class="span2">截止时间：</div>
  <div class="span4"><%= time_ago_in_words(@task.deadline) if @task.deadline %></div>
</div>

<div class="form-actions">
<%= link_to "Edit", edit_task_path(@task), :class => 'btn' %>
<%= link_to "Delete", task_path(@task), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn' %>
</div>

