- # encoding: utf-8

- if current_user == @task.user
  .row
    .span5= link_to "删除任务", @task, :confirm => "确定删除吗?", :method => :delete, :class => "pull-right btn"

.task-view
  .row
    %h4.span1 项目：
    .span4= @task.project_list[0]
  .row
    %h4.span1 创建人：
    .span4= @task.user.nickname
  .row
    %h4.span1 内容：
    .span4.inplace= best_in_place @task, :content, type: :textarea, :ok_button => '保存', :cancel_button => '取消'
  .row
    %h4.span1 估时：
    .span4.inplace= best_in_place @task, :estimate, :type => :select, :nil => '点击修改', :collection => [[0, '请选择'], [0.5,'0.5天'], [1, '1天'], [1.5, '1.5天'], [2, '2天'], [3, '3天'], [4, '4天'], [5, '5天']]
  .row

.form-actions
  = form_tag set_tag_tasks_path, :class => :form do
    = hidden_field :task, :id, :value => @task.id
    .row
      .span1 所属项目：
      .span3= collection_select :project, :name,  @projects, :name, :name
      %button.span1.btn{ :type=>"submit"} 修改
