<%# encoding: utf-8 %>

(function() {
<% if @task.valid? %>
  <% cssstatus = ['status0', 'status1', 'status2', 'status3'] %>
  <% cssdo = ['task-todo', 'task-doing', 'task-done'] %>
  $('#task<%= @task.id %>').removeClass("<%= cssstatus[@oldstatus] %>").addClass("<%= cssstatus[@task.status] %>")
  $('#task<%= @task.id %>').removeClass("<%= cssdo[@oldstatus] %>").addClass("<%= cssdo[@task.status] %>")
  $('#task<%= @task.id %>').effect('highlight', {}, 100);
  <% if @task.status == Task::DONE or @oldstatus == Task::DONE %>
      $('#taskprogress').find('div.bar').attr("style","width:<%= @results %>%");
  <% end %>
<% else %>
   // something like flashController.doFailure('<p>创建失败</p>');
<% end %>
}());

