<!--
<h2 class="title">当前头像</h2>
<div class="block">
    <div class="secondary-navigation"></div>
    <div class="content">
        <h2 class="title">头像选择</h2>
        <div class="avatars">
        </div>
    </div>
</div>
-->
<div id="preview_form">
<%= form_for @user, :html => {:multipart => true} do |f| %>
    <p>
    <%= f.file_field :preview %>
    <%= f.hidden_field :preview_cache %>
    <%= f.submit "上传" %>
    </p>
<% end %>
</div>

<div class="jcrop">
    <div class="row">
        <div class="span4">
            <%= image_tag @user.preview_url(:large), :id => "cropbox", :date => @user.preview_geometry[:width] %>
        </div>
        <div class="span3">
            <div class="preview1">
                <%= image_tag @user.preview_url(:large), :id => "preview1" %>
            </div>
            大尺寸图像180x180像素
        </div>
        <div class="span1 offset1">
            <div class="preview2">
                <%= image_tag @user.preview_url(:large), :id => "preview2" %>
            </div>
            小尺寸图48x48像素
        </div>
    </div>
    <%= form_for @user, :url => { :action => "crop_update" } do |f| %>
        <% for attribute in [:crop_x, :crop_y, :crop_h, :crop_w] %>
            <%= f.hidden_field attribute, :id => attribute %>
        <% end %>
        <div class="pull-right">
            <%= f.submit "确定", :class => "btn btn-large btn-primary" %>
        </div>
    <% end %>
</div>
