<!--
<h2 class="title">当前头像</h2>
<div class="block">
    <div class="secondary-navigation"></div>
    <div class="content">
        <h2 class="title">头像选择</h2>
        <div class="avatars">
        </div>
    </div>
</div>
-->
<div id="preview_form">
<%= form_for @user, :html => {:multipart => true} do |f| %>
    <p>
    <%= f.file_field :preview %>
    <%= f.hidden_field :preview_cache %>
    </p>
<% end %>
</div>

<%= image_tag @user.preview_url(:large), :id => "cropbox", :date => @user.preview_geometry[:width] %>
<h3>Preview</h3>
<div class="preview">
    <%= image_tag @user.preview_url(:large), :id => "preview" %>
</div>
<%= form_for @user, :url => { :action => "crop_update" } do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_h, :crop_w] %>
        <%= f.hidden_field attribute, :id => attribute %>
    <% end %>
    <p><%= f.submit "Crop" %></p>
<% end %>

<%= image_tag @user.avatar_url(:thumb) %>
<%= image_tag @user.preview_url(:small) %>
