<div id='comment_list'>
  <% @comments.each do |comment| %>
    <div id="comment<%= comment.id %>" >
      <div data-toggle="collapse" data-target="#note_link_commentid<%=comment.id%>" data-parent="#comment_list">
        <%= image_tag(User.find(comment.user_id).avatar_url(:small), :class => "avatar") %>
        <%= comment.comment.html_safe %>
        <% if comment.user_id == current_user.id %>
          <%= link_to "#removecomment#{comment.id}", 'data-toggle'=>"modal", :class => 'small-button' do %>
            <i class='icon-remove'>
            </i>
          <% end %>
          <div class="commentremove modal hide fade" id="removecomment<%=comment.id%>" style="display:none">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">
                <i class='icon-remove'>
                </i>
              </a>
              <h3>删除评论</h3>
            </div>
            <div class="modal-body">
              <h3>确定删除吗?</h3>
            </div>
            <div class="modal-footer">
              <%= link_to '删除', comment, :method => "delete",  "data-dismiss" => "modal", :class => "btn", :remote => true %>
              <%= link_to '取消', "close", :class=>"btn", "data-dismiss" => "modal" %>
            </div>
          </div>


        <% end %>
      </div>

      <div id="note_link_commentid<%=comment.id%>" class="collapse" >
        <% note = Note.find(comment.commentable_id)%>
        <li id="note<%= note.id %>">
        <div class="left"><%= image_tag(User.find(note.user_id).avatar_url(:small), :class => "avatar") %></div>
        <div class="item">

          <div class="content">
            <%= note.summary %> 
          </div>
          <div class="live-timestamp" data-notetime="<%= note.created_at %>"></div>
        </div>
        </li>
      </div>
    </div>
  <% end %>
</div>
