<div id='comment_list'>
  <% @comments.each do |comment| %>
    <div id="comment<%= comment.id %>" >
      <div data-toggle="collapse" data-target="#note_link_commentid<%=comment.id%>" data-parent="#comment_list">
        <i class='icon-chevron-down'>
        </i>
        <%= comment.comment.html_safe %>
          <%= link_to "#removecomment#{comment.id}", 'data-toggle'=>"modal", :class => 'small-button' do %>
            <i class='icon-remove'>
            </i>
            <div class="commentremove modal hide fade" id="removecomment<%=comment.id%>" style="display:none">
              <div class="modal-header">
                <a class="close" data-dismiss="modal">
                  <i class='icon-remove'>
                  </i>
                </a>
                <h3>删除评论</h3>
              </div>
              <div class="modal-body">
                <h3>确定删除吗?</h3>
              </div>
              <div class="modal-footer">
                <%= link_to '删除', comment, :method => "delete",  "data-dismiss" => "modal", :class => "btn", :remote => true %>
                <%= link_to '取消', "close", :class=>"btn", "data-dismiss" => "modal" %>
              </div>
            </div>
          <% end %>
        </div>

        <div id="note_link_commentid<%=comment.id%>" class="collapse in" >
          <br/>
          <div class="row-fluid">
            <% note = Note.find(comment.commentable_id)%>
            <div class="span1"><%= image_tag(User.find(note.user_id).avatar_url(:small), :height => "40", :width => "40", :class => "avatar") %></div>
            <div class="span11 item">
              <%= note.summary.html_safe %> 
              <div class="live-timestamp" data-notetime="<%= note.created_at %>"></div>
            </div>
          </div>
        </div>

        <hr>

      </div>
  <% end %>
</div>
