<div class="block">
    <div class="secondary-navigation">
        <ul class="wat-cf">
            <li><%= link_to "修改昵称", users_nickname_path %></li>
            <li><%= link_to "修改头像", users_avatar_path %></li>
            <li><%= link_to "修改密码", edit_user_registration_path, :method => :get %></li>
        </ul>
    </div>
</div>
<h2 class="title">当前头像</h2>
<%= image_tag(current_user.avatar, :class => "avatar") %>
<div class="block">
	<div class="secondary-navigation"></div>
	<div class="content">
		<h2 class="title">头像选择</h2>
		<div class="avatars">
			<% Dir.open("public/images/icons/").each do |file| %>
    		<% if file[/\.[^\.]+$/] == ".gif" %>
              <%= link_to image_tag("/images/icons/#{file}", :class => "avatar"), users_avatar_path(:icon => "/images/icons/#{file}") %>
    		<% end %>
			<% end %>
		</div>
	</div>
</div>
