
<div class="well" id="userinfo">
  <h2 class="title"> 
    <%= @user.nickname %>
  </h2>
  <%= link_to image_tag(current_user.avatar_url(:thumb)), users_avatar_path %>
  <p><%= @nickname %></p>
  <p>发布数: <%= @notes_size %></p>
</div>

<div class="well" id="myself">
  <div id="tabspin">
  <ul class="nav nav-tabs">
    <li><%= link_to "我的发布", users_path, :remote => true, "data-toggle" => "tab", "data-target" => "#" %></li>
    <li> <%= link_to "我的评论", users_mycomments_path, :remote => true, "data-toggle" => "tab", "data-target" => "#" %></li>
    <li><%= link_to "我的标记", users_mytags_path, :remote => true, "data-toggle" => "tab", "data-target" => "#" %></li>
  </ul>
  </div>

  <div class="mycontent">
    <%= render :partial => 'mytags' if ( controller.action_name == 'index' or controller.action_name == 'mytags') %>
    <%= render :partial => 'mycomments' if ( controller.action_name == 'mycomments') %>
  </div>
</div>
