
<div class="block">
  <div class="content">
    <div class="inner">
      <h2 class="title">Users#info</h2>
      <%= link_to image_tag(@avatar, :class => "avatar"), users_avatar_path %>
      <p><%= @nickname %></p>
      <p>发布数: <%= @notes_size %></p>
    </div>
  </div>
</div>

<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first <%= 'active' if controller.action_name == 'index'%>"><%= link_to "我的发布", users_index_path %></li>
    <li <%= "class='active'" if controller.action_name == 'mycomments'%> > <%= link_to "我的评论", users_mycomments_path%></li>
      <li <%= "class='active'" if controller.action_name == 'comments'%> ><%= link_to "我被评论", users_comments_path %></li>
      <li <%= "class='active'" if controller.action_name == 'mytags'%> ><%= link_to "我的标记", users_mytags_path %></li>
    </ul>
  </div>

  <div class="content">
    <div class="inner">
      <%= render :partial => controller.action_name %>
    </div>
  </div>
</div>
