<div class="block">
  <%= render "layouts/userinfo" %>
  <div class="content">
    <div class="inner">
      <%= form_for @user do |f| %>
      <p>
        <%= f.label "昵称：" %>
        <%= f.text_field :nickname, :size => 25 %>
        <%= f.submit '确定'%>
      </p>
      <% end %>
    </div>
  </div>
</div>


