-# encoding: utf-8

%hr
.row-fluid
  - question_user = User.find(question.user_id)
  .span1
    = link_to image_tag(question_user.avatar_url(:small), :class => "avatar", :title => "#{question_user.nickname}"), user_path(question_user), :method => :get
    
  .span11.item
    .content
    %span(style="word-wrap: break-word;")
      = link_to question.content.html_safe, question
        
    .question_tags
      - question.tag_list.each do |tag|
        %span.label.label-info= "#{tag}"
    .live-timestamp(data-questiontime="#{question.created_at}")
      %br

