- # encoding: utf-8
.document-view.row-fluid
  .row
    - if current_user == @document.user
      .pull-right= link_to "删除", @document, :confirm => "确定删除此任务吗?", :method => :delete, :class => "btn"
    .span1= link_to @project.name, @project, :class => "btn"
  .row
    %h3.span1 创建：
    .span7= @document.user.nickname

  =render 'form'
.page-header
  %h3
    评论
    %small 相关讨论
.documentcomments{:id => "comments_list#{@document.id}"}
  = render 'comments/comment_box'
  = render 'comments/form_task'

.page-header
  %h3
    历史
    %small 修改记录
= render 'documents/audits'

:javascript
  if (CKEDITOR.instances["document_content"]) {
    CKEDITOR.remove(CKEDITOR.instances["document_content"]);
  }
  CKEDITOR.replace("document_content", { "language":"zh-cn", "customConfig":"/ckeditor_config.js" });
