.page-header
  %h2
    新建
    %small 创建新项目

= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :summary
    = f.text_field :summary
  .field
    = f.label :tags
    = f.text_field :tags
  .actions
    %button.btn.btn-primary.pull-right{:type=>"submit"} 创建
