- # encoding: utf-8

.well
  %section#fluidGridSystem
    .pull-right
      = form_tag new_project_path, :class => :form do
        = text_field :project, :name, :class => 'input-small', :placeholder => "项目名称"
        %button.btn{ :type=>"submit" } 新建
    %h3 项目
    %ul
      - @projects.each do |project|
        %li= link_to "#{project.name}(#{project.count})", project_path(project.name)
    Show something about all projects here.
