- # encoding: utf-8

.board
  %ul.nav.nav-pills
    %li.active= link_to "讨论", "#questioncontent"
    %li= link_to "任务", "#taskcontent"
    %li= link_to "文档", "#documentcontent"
    %li= link_to "回顾", "#historycontent"

  .page-header
    .pull-right
      - User.all.each do |user|
        .red-avatar.useritem{:id => "user#{user.id}"}
          = link_to image_tag(user.avatar_url(:small)), mytasks_tasks_path(:id => user.id), :class => "thumbnail"
    %h2
      %small= @project.name

  #questioncontent
    = link_to "讨论", discuss_tasks_path(:project => @project.id), :id => "latest_commentslink", :remote => true
  #taskcontent
    = link_to "任务", tasks_path(:project => @project.id), :id => "taskprogresslink", :remote => true
  #documentcontent
    = link_to "文档", documents_path(:project => @project.id), :id => "documentfiles", :remote => true
  #historycontent
    %h3
      = link_to history_tasks_path(:project => @project.id), :id => "oldtasklink", :remote => true do
        查看回顾
        %i.icon-chevron-down

