- # encoding: utf-8

.board
  %ul.nav.nav-pills
    %li.active= link_to "讨论", "#questioncontent"
    %li= link_to "任务", "#taskcontent"
    %li= link_to "回顾", "#historycontent"

  .page-header
    .pull-right
      - User.all.each do |user|
        .red-avatar.useritem{:id => "user#{user.id}"}
          = link_to image_tag(user.avatar_url(:small)), mytasks_tasks_path(:id => user.id), :class => "thumbnail"
    %h2
      当前项目：
      %small= @project_name

  #questioncontent
    = link_to "讨论", discuss_tasks_path(:project => @project_name), :id => "latest_commentslink", :remote => true
  #taskcontent
    = link_to "任务", tasks_path(:project => @project_name), :id => "taskprogresslink", :remote => true
  #historycontent
    %h3= link_to "查看回顾", history_tasks_path(:project => @project_name), :id => "oldtasklink", :remote => true

