- # encoding: utf-8

.board
  %ul.nav.nav-pills
    %li.active
      = link_to "待定任务", "#taskcontent"
    %li
      = link_to "文档", "#answercontent"
    %li
      = link_to "回顾", "#historycontent"

  #taskcontent
    = link_to "任务", tasks_path(:project => @project_name), :id => "taskprogresslink", :remote => true
  #answercontent
    = link_to "文档", questions_path(:project => @project_name), :id => "answerlink", :remote => true
  #historycontent
    = link_to "回顾", history_tasks_path(:project => @project_name), :id => "oldtasklink", :remote => true

