<%= form_for(@book, :html => {:multipart => true, :class => "form-horizontal well"} ) do |f| %>
  <fieldset>
    <div class="control-group">
      <%= f.label "书名", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title, :class => "input" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "副标题", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :subtitle, :class => "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "作者", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :author, :class => "input" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "豆瓣链接", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :url, :class => "input-xlarge", :placeholder => "http://books.douban.com/" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "封面图片", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :cover, :class => "input-xlarge", :placeholder => "http://" %>
      </div>
    </div>

    <div class="form-actions pull-right">
    <a class="btn" href="<%= books_path %>">返回书库</a>
      <button type="submit" class="btn btn-primary">
        <i class="icon-upload"></i> 发布
      </button>    
    </div>
  </fieldset>
<% end %>
