<div class="well">
  <div class="row-fluid">
    <div class="span6">
      <h1> 目前库存图书: <%= @books.size %> </h1>
    </div>
    <div class="pull-right"> 
      <%= link_to '添加新书', new_book_path %>
    </div>

    <br/>
    <br/>
    <% @arrs.each do |arr| %>
      <div class="well">
        <div class="span4"><%= arr["book"].title %></div>

        <div class="span6">
          <% if arr["display"] == "borrow" %>
            <%= link_to '借', books_borrow_path(:book_id => arr["book"].id), :method => :post, :class => "btn btn-primary" %>
          <% elsif arr["display"] == "want_wait" %>
            <%= link_to '排队', new_debit_path(:book_id => arr["book"].id) %>
          <% elsif arr["display"] == "waiting" %>
            <label class="btn btn-info disabled">排队中</label>
          <% elsif arr["display"] == "reading" %>
            <label class="btn btn-success disabled">正在阅读</label>
          <% end %>
        </div>

        <br/>
        <hr/>
      </div>
    <% end %>

  </div>
</div>

