<%# encoding: utf-8 %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :id => "auth-form" }) do |f| %>
  <div class="row">
    <h3 class="span2">给工作添乐趣</h3>
  </div>
  <%= f.text_field :nickname, :id => "user_login", :class => "span4 input-text", :placeholder => "帐号" %>
  <%= f.password_field :password, :id => "user_password", :class => "span4 input-text", :placeholder => "密码" %>
  <div class="row">
    <div class="span2">
      <%= link_to "忘记密码?", new_password_path(resource_name), :class => "forgot-password" %>
    </div>
    <div class="span1">
      <%= f.check_box :remember_me, :class => '', :checked => true %>
      记住我
    </div>
    <div class="span1">
      <%= f.submit "登录", :class => "btn btn-primary btn-large" %>
    </div>
  </div>
<% end %>
