<%# encoding: utf-8 %>
<div id="login">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :id => "auth-form" }) do |f| %>
        <div class="clearfix">
            <%= f.label "帐号：" %>
            <div class="input">
                <%= f.text_field :nickname, :id => "user_login"%>
            </div>
        </div>

        <div class="clearfix">
            <%= f.label "密码：" %>
            <div class='input'>
                <%= f.password_field :password, :id => "user_password"%>
            </div>
        </div>

        <div class="action clearfix">
            <div class="row">
                <div class="span2">
                    <div class="row-fluid">
                        <div class="span1">
                            <%= f.check_box :remember_me %> 
                        </div>
                        <div class="span4">
                            <%= f.label "记住我？" %>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <%= f.submit "登录", :class => "btn" %>
                </div>
            </div>
            <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "forgot-password", :style => "float:left" %>
        </div>
    <% end %>
</div>
