<div id="note<%= id %>">
    <hr/>
    <div class="row-fluid">
        <% var note_user = noteRouter.current_user; %>
        <div class="span1">
            <a href="#/users/<%= note_user.id %>">
                <img alt="<%= note_user.nickname %>" class="avatar" src="<%= note_user.avatar.small.url %>" title="jianxing">
            </a>
        </div>

        <div class="span11 item">
            <div class="content">
                <span style="word-wrap: break-word;">
                    <%= summary %>
                </span>

                <!-- -if note.attachements.size > 0 -->

            </div>
        </div>

    </div>
    <div class="pull-right">
        <a href="#/comments/note<%= id %>" class="small-link" data-target="#comments_list<%= id %>" data-toggle="collapse" id="comments_link<%= id %>">评论(<span>0</span>)</a>

        <a href="#/<%= id %>">Show</a>
        <a href="#/<%= id %>/edit">Edit</a>
        <a href="#/<%= id %>/destroy" class="destroy">Destroy</a>
    </div>
    <div class="live-timestamp" data-notetime="<%= new Date().toString() %>">
    </div>

    <br>
    <div class="collapse fade framed" style="height: 0px;" id="comments_list<%= id %>">
    </div>
</div>
