<div id="header">
  <h1><a href="/">Red Note</a></h1>
  <div id="user-navigation">
    <ul class="wat-cf">
      <% if user_signed_in? %>
        <li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
        <li><%= link_to "退出", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "注册", new_registration_path(resource_name) %></li>
      <% end %>
    </ul>
  </div>
  <div id="main-navigation">
    <ul class="wat-cf">
      <% if user_signed_in? %>
        <li><%= link_to "首页", notes_path %></li>
        <li><%= link_to "我的主页", users_index_path %></li>
      <% end %>
    </ul>
  </div>
</div>
