<div class="block">
	<h3>Create notes</h3>
	<ul class="navigation">
  	<li><%= link_to 'New Blog', "/#{current_user.nickname}/new/blog" %></li>
    <li><%= link_to 'New Image', "/#{current_user.nickname}/new/image"%></li>
    <li><%= link_to 'New Book', "/#{current_user.nickname}/new/book" %></li>
    <li><%= link_to 'New Code', "/#{current_user.nickname}/new/code" %></li>
    <li><%= link_to 'New Link', "/#{current_user.nickname}/new/link" %></li>
	</ul>	
</div>
